######################################################################
# Git
######################################################################
!**/.gitmodules
!**/.gitkeep
!**/.gitattributes

######################################################################
# CMake
######################################################################
compile_commands.json
.compile_command*

######################################################################
# Python
######################################################################
# pythonスクリプトのキャッシュファイル
*.pyc
# pythonツールの設定ファイル
*.pickle
# キャッシュファイルディレクトリ
__pycache__
# mypy
.mypy_cache
# PyCharm
.idea

######################################################################
# Documents
######################################################################
**/[Dd]oxygen*

######################################################################
# test
######################################################################
test/Debug
test/Release
test/.settings
test/.compile_commands-Debug
test/.compile_commands-Release

######################################################################
# Others
######################################################################
## Vim
.lvimrc
## tag file
tags
## cscope
*.out
## Backupfiles
*.bak*
*.orig

.cdt.xml
